/* login.css */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9fb;
  font-family: 'Segoe UI', sans-serif;
}

.login-form {
  background-color: #fff;
  border-radius: 12px;
  padding: 40px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 420px;
  text-align: center;
}

.login-form h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
}
.login-form h3 span {
  color: #e2183f;
}

.login-form h2 {
  font-size: 22px;
  margin-top: 25px;
  margin-bottom: 5px;
  font-weight: 700;
}

.login-form h6 {
  font-size: 0.8rem;
  color: #888;
  margin: 10px 0px 30px 0;
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: 500;
  margin-bottom: 6px;
}

.form-group input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

.form-group input:focus {
  border-color: #e2183f;
}

.checkbox-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.checkbox-row label {
  display: flex;
  align-items: center;
  gap: 6px;
}

.checkbox-row a {
  color: #e2183f;
  text-decoration: none;
  font-weight: 500;
}

.login-btn {
  background-color: #e2183f;
  color: #fff;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
}

.divider {
  margin: 10px 0;
  color: #888;
  font-size: 14px;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 20px;
}

.social-login button {
  width: 40px;
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}

.login-footer {
  font-size: 14px;
}
.login-footer a {
  color: #e2183f;
  text-decoration: none;
  font-weight: 500;
}
