.cart-page {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.cart-wrapper {
    
    background-color: #f9f9fb;
}

.cart-page h2 {
    padding: 20px ;
    background-color: rgb(252, 239, 245);
    margin: -20px -20px 20px -20px;
}

.clear-cart-btn {
  margin: 10px 0;
  padding: 8px 12px;
  background-color: #F43F5E;
;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
.clear-cart-btn:hover {
  background-color: #d9363e;
}



.cart-list {
  margin-top: 20px;
}

.cart-item {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
  align-items: center;
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-info {
  flex: 1;
}

.item-name {
  font-weight: 500;
  margin-bottom: 8px;
}

.item-price {
  color: #F43F5E;
  font-weight: bold;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.quantity-control button {
  width: 28px;
  height: 28px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.delete-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.cart-summary {
  border-top: 1px solid #eee;
  padding-top: 20px;
  margin-top: 20px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total {
  font-weight: bold;
  font-size: 16px;
}

.checkout-btn {
  width: 100%;
  padding: 12px;
  background: #F43F5E;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
}
